{"nbformat":4,"nbformat_minor":0,"metadata":{"colab":{"provenance":[],"authorship_tag":"ABX9TyNvnrgDRCoxIuSGuYZCep35"},"kernelspec":{"name":"python3","display_name":"Python 3"},"language_info":{"name":"python"}},"cells":[{"cell_type":"code","execution_count":null,"metadata":{"id":"NCWOGqfs-4kW"},"outputs":[],"source":["streamlit\n","pandas\n","numpy\n","plotly\n","xlsxwriter"]}]}